
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.dll
*.v2
.vs/VideoRenderingBackend/v16/.suo
.vs/VideoRenderingBackend/config/applicationhost.config
VideoRenderingBackend/obj/VideoRenderingBackend.csproj.nuget.g.props
VideoRenderingBackend/obj/VideoRenderingBackend.csproj.nuget.dgspec.json
VideoRenderingBackend/obj/project.nuget.cache
VideoRenderingBackend/obj/project.assets.json
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.pdb
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.genruntimeconfig.cache
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.dll
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.csprojAssemblyReference.cache
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.csproj.FileListAbsolute.txt
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.csproj.CoreCompileInputs.cache
VideoRenderingBackend/obj/Debug/netcoreapp3.1/VideoRenderingBackend.assets.cache
VideoRenderingBackend/obj/Debug/netcoreapp3.1/apphost.exe
VideoRenderingBackend/bin/Debug/netcoreapp3.1/VideoRenderingBackend.runtimeconfig.json
VideoRenderingBackend/bin/Debug/netcoreapp3.1/VideoRenderingBackend.runtimeconfig.dev.json
VideoRenderingBackend/bin/Debug/netcoreapp3.1/VideoRenderingBackend.pdb
VideoRenderingBackend/bin/Debug/netcoreapp3.1/VideoRenderingBackend.exe
VideoRenderingBackend/bin/Debug/netcoreapp3.1/VideoRenderingBackend.dll
.vs/VideoRenderingBackend/v16/.suo
.vs/VideoRenderingBackend/DesignTimeBuild/.dtbcache.v2
.vs/VideoRenderingBackend/config/applicationhost.config
